
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: linear;
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: linear;
    transform: translate3d(0, -40px, 0);
  }

  70% {
    animation-timing-functioanimation-timing-functionn: linear;
    transform: translate3d(0, -20px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}



